@keyframes slide-in {
    0% {
        transform: translateY(-100%) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

.animate-slide-in {
    animation: slide-in 1s ease-out forwards;
}